<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add by template</title>
    <script src="../../istarcore/lib/lodash.min.js"></script>
    <script src="../../ui/lib/vue.global.prod.js"></script>
</head>
<style>
    #app {
        margin: 0;
    }

    .input-text {
        width: 120px;
    }

    textarea {
        margin-top: 30px;
        width: 100%;
        height: 200px;
    }
</style>
<body>

<div id="app">
    Goals or Tasks in a/an
    <select v-model="actorType">
        <option value ="Actor">Actor</option>
        <option value ="Agent">Agent</option>
        <option value="Role">Role</option>
    </select>
    &nbsp;named&nbsp;<input type="text" class="input-text" v-model="actorName">
    <br>
    <textarea id="result-box" v-model="result"></textarea>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                actorType: "Actor",
                actorName: "actor",
                dependums: [
                    {
                        type: "Goal",
                        name: "goal 1",
                    },
                    {
                        type: "Goal",
                        name: "goal 2",
                    },
                    {
                        type: "Goal",
                        name: "goal 3",
                    },
                    {
                        type: "Task",
                        name: "task 1",
                    },
                    {
                        type: "Task",
                        name: "task 2",
                    }
                ],
                text: "Goal: goal 1\n" +
                    "Goal: goal 2\n" +
                    "Goal: goal 3\n" +
                    "Task: task 1\n" +
                    "Task: task 2",
                result: 'Goals or tasks in Actor: actor\n' +
                    'Goal: goal 1\n' +
                    'Goal: goal 2\n' +
                    'Goal: goal 3\n' +
                    'Task: task 1\n' +
                    'Task: task 2'
            }
        },
        watch: {
            result: function (newVal, oldVal) {
                const val = newVal.trim()
                const lines = val.replace('\n\n', '\n').split('\n')
                const result = this.checkDependency(lines[0])
                this.text = lines.slice(1).join('\n')
                if (result.isValid) {
                    this.actorName = result.actor_name
                    this.actorType = result.actor_type
                }
            },
            actorType: function (val) {
                this.genResult()
            },
            actorName: function (val) {
                this.genResult()
            },
        },
        methods: {
            genResult: function () {
                let s = `Goals or tasks in ${this.actorType}: ${this.actorName}\n`
                s += this.text
                this.result = s
            },
            calCount: function (type) {
                let count = 0
                _.forEach(this.dependums, function (val) {
                    if (val.type === type) count++
                })
                return count
            },
            checkDependency: function (line) {
                let result = {
                    actor_type: null,
                    actor_name: null,
                    isValid: false
                }
                line = line.trim()
                const actors = new Set(['Agent', 'Role', 'Actor'])
                try {
                    const actor_type = line.substring(line.indexOf('in ') + 3, line.indexOf(':'));
                    let actor_name = ""
                    if (line.indexOf(': ') !== -1) {
                        actor_name = line.substring(line.indexOf(': ') + 2);
                    }
                    result = {
                        actor_type: actor_type,
                        actor_name: actor_name,
                    }
                    result.isValid = actors.has(actor_type);
                } catch (e) {
                    result.isValid = false
                }
                return result
            }
        }
    }).mount('#app')
</script>

</body>
</html>

